
.bug_item {
  box-shadow: none !important;
  width: 200px !important;
  height: fit-content;
  margin-bottom: 10px;
  width:100%;  
  text-align:center;
  word-wrap: break-word;
  flex-wrap: wrap;
  background-color: darkorange;
  border-radius: 28px;
  padding: 10px;
  color: white;
}

.feature_item {
  box-shadow: none !important;
  width: 200px !important;
  height: fit-content;
  margin-bottom: 10px;
  width:100%;  
  text-align:center;
  word-wrap: break-word;
  flex-wrap: wrap;
  background-color: darkcyan;
  border-radius: 28px;
  padding: 10px;
  color: white;
}

.request_item {
  box-shadow: none !important;
  width: 200px !important;
  height: fit-content;
  margin-bottom: 10px;
  width:100%;  
  text-align:center;
  word-wrap: break-word;
  flex-wrap: wrap;
  background-color: cornflowerblue;
  border-radius: 28px;
  padding: 10px;
  color: white;
}

.title {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px;
}

.discription {
 width: inherit; 
 padding-top: 10px;
 word-wrap: break-word;
 margin-bottom: 10px;
 padding-bottom: 10px;
}

.deleteItemButton {
  border: none;
  background-color: initial;
  color: white;
}

.itemFooter {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-top: 30px;
}

.assignee {
  border-radius: 200px;
  background-color: brown;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.viewButton {
  text-decoration: underline;
}

.itemTitle{
  text-overflow: ellipsis;
    /* display: flex; */
    width: 184px;
    overflow: hidden;
    white-space: nowrap;
    /* width: 50px; */
    overflow: hidden;
    text-overflow: ellipsis;
}